<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<customErrors mode="Off" />
		<httpRuntime requestValidationMode="2.0" />
		<pages controlRenderingCompatibilityVersion="4.0" /> 
	</system.web>
	<system.webServer>
		<httpErrors>
			<remove statusCode="404" />
			<remove statusCode="403" />
			<remove statusCode="500" />
			<error statusCode="403" prefixLanguageFilePath="" path="/Default.aspx" responseMode="ExecuteURL" />
			<error statusCode="404" prefixLanguageFilePath="" path="/Default.aspx" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/Default.aspx" responseMode="ExecuteURL" />
		</httpErrors>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="Data"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>